:root {
  --primary: #e68181;
  --bg: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", "sans-serif";
  background-color: var(--bg);
  color: #000000;
}

html {
  scroll-behavior: smooth;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(212, 115, 115, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--bg);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--bg);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--bg);
}

#hamburger-menu {
  display: none;
}

/* navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: white;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
  background-color: white;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #000000;
}

/* navbar shopping cart */

#shooping-cart {
  position: relative;
}

#shooping-cart .quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: 0;
  right: -10px;
}

.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: black;
  background-color: var(--primary);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-items {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart .cart-items img {
  height: 4rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.shopping-cart h5 {
  font-size: 1.3rem;
}

.shopping-cart .cart-items .item-price {
  font-size: 1rem;
}

.shopping-cart .cart-items .item-price span {
  font-size: 1.1rem;
  font-weight: 500;
}

.shopping-cart .cart-items #add,
.shopping-cart .cart-items #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: var(--bg);
  color: #000000;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 20%;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--bg) 3%, rgba(255, 255, 255, 0) 25%);
  pointer-events: none;
} */

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  text-align: center;
  position: fixed;
}

.hero .content h1 {
  font-size: 7em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h2 {
  font-size: 2.5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.4rem;
  margin-top: 2rem;
  color: #e0e0e0;
  line-height: 2;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.2rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  font-size: 1.2rem;
}

/* about section */
.about,
.barang,
.contact,
.products {
  padding: 8rem 7% 1.4rem;
}

.about h3,
.barang h3,
.contact h3,
.products h3 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h3 span,
.barang h3 span,
.contact h3 span,
.products h3 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  mask-image: url(../img/about-us-mask.svg);
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 4rem;
}

.about .row .content h4 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
  text-indent: 60px;
}

/* barang section */

.barang p,
.contact p,
.products p {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
}

.barang h3,
.contact h3,
.products h3 {
  margin-bottom: 1rem;
}

.barang .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.barang .row .menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.barang .row .menu-card img {
  border-radius: 50%;
  width: 80%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.barang .row .menu-card .menu-card-title,
.products .row .product-content h5,
.product-content h5 {
  margin: 1rem auto 0.5rem;
  font-size: 1.3rem;
}

.barang .row .menu-card .menu-card-price,
.products .row .product-content .product-price,
.product-content .product-price {
  font-size: 1rem;
  font-weight: 300;
}

.barang .row .menu-card .menu-card-price span,
.products .row .product-content .product-price span,
.product-content .product-price span {
  font-size: 1.2rem;
  font-weight: 500;
}

/* product section */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .row .product-card {
  text-align: center;
  border: 1px solid #8b8b8b;
  padding: 2rem;
}

.products .row .product-card .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .row .product-card a {
  width: 4rem;
  height: 4rem;
  color: #666;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .row .product-card a:hover {
  color: #fff;
  background-color: #666;
  transition: 0.3s;
}

.products .row .product-card .product-image {
  padding: 1rem 0;
}

.products .row .product-card .product-image img {
  height: 25rem;
  border-radius: 25%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.product-stars {
  padding: 0.8rem;
  color: #ccb328;
}

.product-stars .stars-full {
  fill: #ccb328;
}

/* contact section */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(212, 115, 115, 0.8);
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #8b8b8b;
}

.contact .row form .input-group input {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.7rem;
  background: none;
}

.contact .row form .input-group textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  align-items: center;
  height: 12rem;
  padding-top: 5rem;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  border-radius: 5px;
}

/* footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem;
}

footer .socials a {
  color: black;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: white;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: black;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  margin-bottom: 3rem;
}

footer .credit a {
  color: #ffffff;
  font-weight: 700;
}

footer .credit a:hover {
  font-size: larger;
  transition: 0.5s;
}

/* modal box */
/* item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(179, 96, 96, 0.8);
}

.modal .modal-container {
  position: relative;
  background-color: var(--bg);
  color: black;
  margin: auto;
  padding: 2rem;
  border: 1px solid #666;
  width: 80%;
  height: auto;
  animation: animateModal 0.5s;
}

/* modal animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal .modal-container .close-icon {
  position: absolute;
  right: 1rem;
  color: black;
}

.modal .modal-container .modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal .modal-container .modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border-radius: 15%;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.modal .modal-container .modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal .modal-container .modal-content a {
  display: flex;
  gap: 1rem;
  width: 18rem;
  background-color: var(--primary);
  color: black;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  align-items: center;
}

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-logo {
    font-size: 1.8rem;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.2s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #000000;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .hero .content h1 {
    font-size: 6rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h4 {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .about .row .content p {
    font-size: 1.4rem;
  }

  .barang p {
    font-size: 1.3rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 1rem;
  }

  .modal .modal-container .modal-content {
    flex-wrap: wrap;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
